.car-form {
  margin-top: 30px;
}

.form-column {
  width: 450px;
  margin: 10px;
  padding: 15px;
  border: 0.25rem solid;
  border-color: aquamarine;
  border-radius: 15px;
  background-color: white;

}

.submitedcar {
  margin-top: 30px;
  margin-right: 64px;
  text-align: center;
  border-color: rgb(255, 127, 232);

}

.createTitel {
  width: 85%;
  margin: auto;
  margin-top: 30px;
}

#big-dbox {
  // border-style: dashed;
  // border-color: rgb(0, 0, 0);
  // border-radius: 5px;
  border: solid #F1E4C3;
  border-radius: 5px;
}

.createTitel h1 {
  text-shadow: 0 0 1px rgb(0, 255, 255);
  color: white;

}
