// Specific CSS for your home-page

body {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 300;
    font-style: normal;
    background: linear-gradient(to bottom right, #1b4332, #2d6a4f, #4a9479);
}

//button background-color: #B2533E;
