.button-perso {
  //background: linear-gradient(90deg, #696987, #43435e);
  //background-color: #B2533E;
//   background: rgb(178,83,62);
// background: linear-gradient(90deg, rgba(178,83,62,1) 59%, rgba(246,130,104,1) 100%);
background: linear-gradient(to bottom right, #1b4332, #2d6a4f, #4a9479);

  padding: 8px 15px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: solid 1px #414154;
  color: white;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-perso-small {
 // background: linear-gradient(90deg, #696987, #43435e);
  // background: rgb(178,83,62);
  background: linear-gradient(to bottom right, #1b4332, #2d6a4f, #4a9479);

  background: linear-gradient(90deg, rgba(178,83,62,1) 59%, rgba(246,130,104,1) 100%);
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: solid 1px #414154;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-search {
    background: rgb(222,201,150);
    border: solid 0;
    padding: 10px 40px;
}

.search-form {
  border-radius: 20px;
  width: 600px;
  margin-bottom: 20px;
}

.input-left {
  border-top-left-radius: 30px;  /* Top left corner */
  border-bottom-left-radius: 30px; /* Bottom left corner */
  border-top-right-radius: 0; /* Explicitly setting to 0 to ensure no radius */
  border-bottom-right-radius: 0; /* Explicitly setting to 0 to ensure no radius */
}

.input-right {
  /* Apply border radius to all corners except top-left and bottom-left */
  border-top-right-radius: 30px;  /* Top right corner */
  border-bottom-right-radius: 30px; /* Bottom right corner */
  border-top-left-radius: 0; /* Explicitly setting to 0 to ensure no radius */
  border-bottom-left-radius: 0; /* Explicitly setting to 0 to ensure no radius */
}
