.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: +1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: auto;
}

.navbar h2 {
  font-size: 20px;
  color: rgb(127, 126, 126);
}

.navbar a{
  text-decoration: none;
}
.navbar {
  // background-color: #F1E4C3;
  background: #dec996;
  background: linear-gradient(90deg, rgba(222,201,150,1) 19%, rgba(241,228,195,1) 100%);
 }

 .nav-link {
    background: linear-gradient(to bottom right, #1b4332, #2d6a4f, #4a9479);
    color: white;
    padding-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
 }

 .nav-link:hover{
    color: white;
 }
